/* CSS Reset */
body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol, li,
blockquote,
figure,
dl, dd, dt {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #D2E0EA;
}

body {
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Playfair Display', serif;

}

.darken{
  filter: brightness(30%);
  animation: blackout 1s;
}
@keyframes blackout {
  from{
    filter: brightness(100%);
  }
  to{
    filter: brightness(30%);
  }
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

/* Add your styles below this line */


img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.App{
  height: 100vh;
  width: 100vw;
  position: relative;
}

.banner{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}



.welcome__line {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top left, transparent 49.9%, #D2E0EA 50%, transparent 50.1%);
  position: absolute;
  z-index: -1;
}

.welcome{
  color: #D2E0EA;
  width: 100vw;
  height: 80vh;
display: flex;
align-items: center;
flex-direction: column;
  padding-top: 8rem;
}

.welcome__wrapper{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.welcome__button{

  border: none;
  background: none;
  color: #D2E0EA;
  font-size: 3rem;
  border-radius: 2rem;
  transition: 0.5s all;
}

.welcome__button:hover{
  color: antiquewhite;
  cursor: pointer;
}


.welcome__title{
}
h1{
  font-size: 14.5vw;
}


.nav{
  color: #D2E0EA;
  position: fixed;
  width: 100vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  transition: background 0.5s;

}

.nav__logo{
  font-size: 2rem;
  padding-left: 2rem;
}
.nav__list{
  display: flex;
  gap: 2rem;
  padding-right: 2rem;
  align-items: center;
  justify-content: center;

}
.nav__button{
  border: none;
  background: none;
  color: #D2E0EA;
  font-size: 1.5rem;
  transition: color 0.5s;
  
}

.nav__button:hover{
  color: blanchedalmond;
  cursor: pointer;
}

.scrolled{
  
}

.scrolled::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1rem);
  z-index: -1;
  animation: scrolled 0.3s ease-out;
  border-bottom: 0.5px solid #D2E0EA;
}

@keyframes scrolled {
  from{
    backdrop-filter: blur(0rem);
  }
  to{
    backdrop-filter: blur(1rem);
  }
}

.dashboard{
  display: flex;
  padding-top: 4rem;
  justify-content: space-between;

}

.dashboard--right{
  justify-content: flex-end;
}

.dashboard__article{
  width: 40vw;
  padding: 2rem;
  padding-top: 0;
}

.dashboard__article--right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.dashboard__title{
  font-size: 5rem;
  color: blanchedalmond;
  
}

.dashboard__about{
  font-size: 2.5rem;
  line-height: 2.75rem;
}

.dashboard__link{
  color: blanchedalmond;
  text-decoration: underline;
}

.fadein{
  animation: fadein 2s ease-in;
}

@keyframes fadein {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.contact{
  height: 10vh;
  position: relative;
  margin-top: 12.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.5rem;
}

.contact::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1rem);
  z-index: -1;
  animation: scrolled 0.3s ease-out;
  border-top: 0.5px solid #D2E0EA;
}

.contact__logos{
  display: flex;
  gap: 2rem;
  font-size: 3rem;
}

.contact__logo{
  transition: 0.5s all;
}

.contact__logo:hover{
  color: blanchedalmond;
  cursor: pointer;
}