/* CSS Reset */
body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol, li,
blockquote,
figure,
dl, dd, dt {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Playfair Display', serif;

}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

/* Add your styles below this line */


img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.App{
  height: 100vh;
  width: 100vw;
  position: relative;
}

.banner{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.welcome{
  height: 65vh;
  width: 100vh;
}

.welcome__line {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top left, transparent 49.9%, #D2E0EA 50%, transparent 50.1%);
  position: absolute;
  z-index: -1;
}



.forefront{
  transform: translateY(10%);
}

.transition{

  height: 60vh;
  z-index: 1;
  background-color: #031119;
  color: white;
  font-size: 10vw; /* Responsive font size */
  font-weight: bold;
  text-align: center; /* Center text */
  mix-blend-mode: multiply; /* This makes the cutout text possible */
}

.dashboard{
  height: 100%;
  background-color: #031119;
}

.welcome__bottom{
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 30px solid #D2E0EA;
  position: relative;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(20px);
  }
  60% {
    transform: translateY(10px);
  }
}

.welcome{
  color: #D2E0EA;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4rem;
  padding-top: 13rem;
  padding-left: 8rem;
}

.welcome > button{
  margin-top: 10rem;
  height: 10rem;
  width: 20rem;
  border: none;
  background: none;
  color: #D2E0EA;
  font-size: 3rem;
  border-radius: 2rem;
  transition: 0.5s all;
}

.welcome__button:hover{
  color: antiquewhite;
  cursor: pointer;
}

.welcome__title{

}
h1{
  font-size: 5rem;
}


.nav{
  color: #D2E0EA;
  position: fixed;
  width: 100vw;
}

.nav__list{
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  padding: 2rem;
}
.nav__button{
  border: none;
  background: none;
  color: #D2E0EA;
  font-size: 1.5rem;
  transition: color 0.5s;
}

.nav__button:hover{
  color: blanchedalmond;
  cursor: pointer;
}