/* CSS Reset */
body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol, li,
blockquote,
figure,
dl, dd, dt {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.6;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

/* Add your styles below this line */


img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.App{
  height: 100vh;
  width: 100vw;
  position: relative;
}

.banner{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.welcome{
  height: 100vh;
  width: 100vh;
}

.forefront{
  transform: translateY(10%);
}

.dashboard{
  height: 100vh;
  z-index: 1;
  background-color: #031119;
  color: white;
  font-size: 10vw; /* Responsive font size */
  font-weight: bold;
  text-align: center; /* Center text */
  mix-blend-mode: multiply; /* This makes the cutout text possible */
}

